language: node_js
install:
  - yarn
script:
  - yarn build
  - yarn ci:audit
  - yarn lint
  - yarn test:mut
  - yarn test
after_script:
  - bash <(curl -s https://codecov.io/bash) -t $CODECOV_TOKEN > /dev/null
